---
// @ts-ignore
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import { getSettings } from "../services";
const settings = await getSettings()
---
<Layout title="Sobre mí">

  <div class="mx-auto max-w-[1300px] p-4 md:p-10 md:flex items-center">
    <div class="grid md:grid-cols-2 gap-10 items-center">
      <div>
        <div class="space-y-2 md:space-y-4">
          <h1 class="text-4xl md:text-6xl font-semibold">Sobre mí</h1>
          <h1 class="text-2xl font-semibold text-red-600">{settings.title}</h1>
          <div class="prose prose-sm md:prose-base text-slate-100">
            <p>{settings.bio}</p>
          </div>
          <div>
            {settings.rrss.map(rs => {
              if (rs.includes('instagram')) {
                return (
                  <a href={rs} target="_blank" class="opacity-60 hover:opacity-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a>
                )
              } else if (rs.includes('facebook')) {
                return (
                  <a href={rs} target="_blank" class="opacity-60 hover:opacity-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
                )
              } else if (rs.includes('youtube')) {
                return (
                  <a href={rs} target="_blank" class="opacity-60 hover:opacity-100"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg></a>
                )
              } else return null
            })}
          </div>
        </div>
      </div>
      <div>
        <Image
          class="w-full h-full object-cover" 
          alt="Foto"
          width={800}
          height={400}
          src={settings.image.asset.url} />
      </div>
    </div>
  </div>

</Layout>

<style>
  body {
    /* background: gray; */
  }
</style>