---
import '@fontsource-variable/comfortaa';
import '../styles/global.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getSettings } from "../services";
// @ts-ignore
const { title } = Astro.props;
const settings = await getSettings()

const description = "Servicios profesionales de fotografía en Buenos Aires."
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{settings.title}</title>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={settings.title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={settings.image.asset.url} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={settings.title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={settings.image.asset.url} />
	</head>
	<body>
		<div class="grid grid-rows-[auto_1fr_auto] h-screen">
			<div><Header /></div>
			<div class="max-w-[1600px] mx-auto h-full"><slot /></div>
			<div><Footer /></div>
		</div>
	</body>
</html>
<style is:global>
	body {
		font-family: 'Comfortaa Variable', system-ui;
	}
</style>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
